<div id=":2ed" class="a3s aiL msg8058223236610470311">
    <u></u>
    <div style="height:100%;margin:0;padding:0;width:100%;background-color:#f6f6f6">
    <span class="m_8058223236610470311mcnPreviewText" style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
      <img data-emoji="🔖" class="an1" alt="🔖" aria-label="🔖" draggable="false" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f516/32.png" loading="lazy"> Descuentos + <img data-emoji="💳" class="an1" alt="💳" aria-label="💳" draggable="false" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f4b3/32.png" loading="lazy"> 12 cuotas sin interés </span>
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_8058223236610470311bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#f6f6f6">
                <tbody>
                <tr>
                    <td align="center" valign="top" id="m_8058223236610470311bodyCell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_8058223236610470311templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
                            <tbody>
                            <tr>
                                <td valign="top" id="m_8058223236610470311templatePreheader" style="background:#f2f2f2 none no-repeat center/cover;background-color:#f2f2f2;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td valign="top" style="padding-top:9px">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse;float:left" width="100%" class="m_8058223236610470311mcnTextContentContainer">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" class="m_8058223236610470311mcnTextContent" style="padding:0px 18px 9px;color:#222224;word-break:break-word;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">
                                                            <div style="text-align:center">
                                                                <a href="https://mailchi.mp/coderhouse.com/1023i4xtr1-15919138?e=9032397acf" style="color:#222224;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://mailchi.mp/coderhouse.com/1023i4xtr1-15919138?e%3D9032397acf&amp;source=gmail&amp;ust=1718752420009000&amp;usg=AOvVaw1d51TFYNAMaWhRUkMCJtCn">
                                                                    <span style="color:#000000"> <span th:text="${nombre}"></span></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_8058223236610470311templateHeader" style="background:#f2f2f2 none no-repeat center/cover;background-color:#f2f2f2;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:0">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td valign="top" style="padding:0px">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse;float:left">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">
                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=1d81ef41e8&amp;e=9032397acf" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3D1d81ef41e8%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420009000&amp;usg=AOvVaw1O1aK6GJMm97YOjo8v1SJP">
                                                                <img align="center" alt="" src="https://ci3.googleusercontent.com/meips/ADKq_NacPaZJbWbiC-DGtXbGGnDUjM9RNAvDtNuxPa51_yEmrv18xw-Z7t7RDP61uNnLMSr2HKQH7w06KN_5ojqE6N0LSPFI7bqDpWBVvQmltTdJQqF9_aZP8GlSzI9mDc-GIIrSk8yd-SxCp78-fZnBp25ijg6xI-51neg=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/723794f3-7f90-9098-45d7-ed6146dbb96b.jpg" width="600" style="max-width:600px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_8058223236610470311mcnImage CToWUd" data-bit="iit">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_8058223236610470311templateBody" style="background:#222224 none no-repeat center/cover;background-color:#222224;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px none #eaeaea;padding-top:0;padding-bottom:0px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td valign="top" style="padding-top:9px">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse;float:left" width="100%" class="m_8058223236610470311mcnTextContentContainer">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" class="m_8058223236610470311mcnTextContent" style="padding:0px 18px 9px;color:#000000;font-family:Lato,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:15px;line-height:200%;word-break:break-word;text-align:left">
                                                            <div style="text-align:center">
                                        <span style="color:#ffffff">
                                          <span style="font-size:14px">
                                            <span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif">¡Hola! <br>
                                              <br> Paso rápido a contarte que <strong>hasta hoy podés aprovechar nuestra promo.</strong>
                                              <br>
                                              <br> Especializate o empezá una carrera de cero en Coderhouse y aprendé los contenidos más demandados en el mercado laboral. </span>
                                          </span>
                                        </span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td valign="top" style="padding-top:9px">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse;float:left" width="100%" class="m_8058223236610470311mcnTextContentContainer">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" class="m_8058223236610470311mcnTextContent" style="padding:0px 18px 9px;color:#000000;font-family:Lato,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:15px;line-height:200%;word-break:break-word;text-align:left">
                                                            <div style="text-align:center">
                                        <span style="font-size:14px">
                                          <span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif">
                                            <span style="color:#ffffff">
                                              <img data-emoji="👇" class="an1" alt="👇" aria-label="👇" draggable="false" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f447/32.png" loading="lazy"> Elegí entre alguna de nuestras carreras más populares <img data-emoji="👇" class="an1" alt="👇" aria-label="👇" draggable="false" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f447/32.png" loading="lazy">
                                            </span>
                                          </span>
                                        </span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody class="m_8058223236610470311mcnImageGroupBlockOuter">
                                        <tr>
                                            <td valign="top" style="padding:9px" class="m_8058223236610470311mcnImageGroupBlockInner">
                                                <table align="left" width="273.0000305175781" border="0" cellpadding="0" cellspacing="0" class="m_8058223236610470311mcnImageGroupContentContainer" style="border-collapse:collapse;float:left">
                                                    <tbody>
                                                    <tr>
                                                        <td class="m_8058223236610470311mcnImageGroupContent" valign="top" style="padding-left:9px;padding-top:0;padding-bottom:0">
                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=4d228409da&amp;e=9032397acf" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3D4d228409da%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420010000&amp;usg=AOvVaw0epxlzq-s8TVBD_iRtrgBh">
                                                                <img alt="" src="https://ci3.googleusercontent.com/meips/ADKq_NatRwNlrWr37-0xDPiss1JV9MCkylE7V9Zkx8b0aGvViy769QjyM77TppqjF1eYrN1bAlxeH-fk2I80GtDO1xHmYSIho5Sxjnw8mfY8Kt0ImHnJSVkyTZFRY_FZghIzzKYJ2hcGx6VNGPkiUmVHDquh8qoprFkuxL8=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/ab8e422f-5360-27fc-6be5-f65814fad12e.png" width="264" style="max-width:300px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_8058223236610470311mcnImage CToWUd" data-bit="iit">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table align="right" width="273.0000305175781" border="0" cellpadding="0" cellspacing="0" class="m_8058223236610470311mcnImageGroupContentContainer" style="border-collapse:collapse;float:right">
                                                    <tbody>
                                                    <tr>
                                                        <td class="m_8058223236610470311mcnImageGroupContent" valign="top" style="padding-right:9px;padding-top:0;padding-bottom:0">
                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=6789f1765a&amp;e=9032397acf" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3D6789f1765a%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420010000&amp;usg=AOvVaw2qDv_zv-alvmPN9y2pANUd">
                                                                <img alt="" src="https://ci3.googleusercontent.com/meips/ADKq_NZPF6-mHoQ4mCWAG51pXDxJfh0DwMndLVEwXqh_rlbdUXn6rvRka5u1TwBkvfsheizVDCUwSf0g8UGOuqnRM1grKyxnp-l3l_eDxVJIFtWfBAYR98LpaulGEfBRMw7Jq1xxE675M6NJP9SwNeV7teaKcb8Gw_UoMRU=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/6f54aa35-0142-dc15-ed86-149a4073fd41.png" width="264" style="max-width:300px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_8058223236610470311mcnImage CToWUd" data-bit="iit">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" style="padding:9px" class="m_8058223236610470311mcnImageGroupBlockInner">
                                                <table align="left" width="273.0000305175781" border="0" cellpadding="0" cellspacing="0" class="m_8058223236610470311mcnImageGroupContentContainer" style="border-collapse:collapse;float:left">
                                                    <tbody>
                                                    <tr>
                                                        <td class="m_8058223236610470311mcnImageGroupContent" valign="top" style="padding-left:9px;padding-top:0;padding-bottom:0">
                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=7ff960a0ad&amp;e=9032397acf" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3D7ff960a0ad%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420010000&amp;usg=AOvVaw1luLQr1Sn38KdBzPDUWDym">
                                                                <img alt="" src="https://ci3.googleusercontent.com/meips/ADKq_Nbbzj7YAneoRtla9gyH8Ag5vSAZLM6Wbgj7wJ7K46pCeTD1R4RnqmuOG9NycbsuYMLefDHBvN2Rk4M91NxsikQG7bn-ByMpYp8di7rn7FYiiOwHQ8Use-uZev7K5ousOj6FuLEiotNcXa9lu07C_Vex4L2C8frSpE0=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/9f4d8a90-ce97-45d4-f5b3-7215a6618e47.png" width="264" style="max-width:300px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_8058223236610470311mcnImage CToWUd" data-bit="iit">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table align="right" width="273.0000305175781" border="0" cellpadding="0" cellspacing="0" class="m_8058223236610470311mcnImageGroupContentContainer" style="border-collapse:collapse;float:right">
                                                    <tbody>
                                                    <tr>
                                                        <td class="m_8058223236610470311mcnImageGroupContent" valign="top" style="padding-right:9px;padding-top:0;padding-bottom:0">
                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=c2ade8aaa6&amp;e=9032397acf" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3Dc2ade8aaa6%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420010000&amp;usg=AOvVaw3Bx8vrxfFiZaB8nytN-xSK">
                                                                <img alt="" src="https://ci3.googleusercontent.com/meips/ADKq_NYGMQOvFDES0LGvubpWaqgKG192WBbxGqX_fqa-z6Ha3heDv-ijskEpXALg08c6gpcfMDgbzqvZqkIuArn-gygznCRqAoObvzK3EzkYshejVLmQpMWAwqmwHi_HvXP8HgNnTcg25eYPRJnYaf5rRFTrOuw4L4hlhmc=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/39bb6c86-8da1-5d93-6358-e087d0a116e0.png" width="264" style="max-width:300px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_8058223236610470311mcnImage CToWUd" data-bit="iit">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody class="m_8058223236610470311mcnImageGroupBlockOuter">
                                        <tr>
                                            <td valign="top" style="padding:9px" class="m_8058223236610470311mcnImageGroupBlockInner">
                                                <table align="left" width="273.0000305175781" border="0" cellpadding="0" cellspacing="0" class="m_8058223236610470311mcnImageGroupContentContainer" style="border-collapse:collapse;float:left">
                                                    <tbody>
                                                    <tr>
                                                        <td class="m_8058223236610470311mcnImageGroupContent" valign="top" style="padding-left:9px;padding-top:0;padding-bottom:0">
                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=bb4ff208bf&amp;e=9032397acf" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3Dbb4ff208bf%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420010000&amp;usg=AOvVaw17ryD4hRRziNBcB9WYM0y-">
                                                                <img alt="" src="https://ci3.googleusercontent.com/meips/ADKq_NZVgV3clkUUEpi-722gkHA8G0jfbVveqdN3cnYjdT_uOSwMH2TUBKtF01EETvArueh7sRlhlJLqhkWZjYt5psxpdZvjzEIdk8pZEl6aWYGl4hWgMpPzpgVe828jVGaHxXGKZOXtsBN2mxYTSBG_6HcWkRCJaTmE6RU=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/3882ae81-faa5-418b-2622-5c17dda7dbed.png" width="264" style="max-width:300px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_8058223236610470311mcnImage CToWUd" data-bit="iit">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table align="right" width="273.0000305175781" border="0" cellpadding="0" cellspacing="0" class="m_8058223236610470311mcnImageGroupContentContainer" style="border-collapse:collapse;float:right">
                                                    <tbody>
                                                    <tr>
                                                        <td class="m_8058223236610470311mcnImageGroupContent" valign="top" style="padding-right:9px;padding-top:0;padding-bottom:0">
                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=4119a85fdd&amp;e=9032397acf" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3D4119a85fdd%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420010000&amp;usg=AOvVaw2wOAjzqUJq-RC1txzdoYBM">
                                                                <img alt="" src="https://ci3.googleusercontent.com/meips/ADKq_NaS94z28cJKYorEAp371AJ8lm0ril6I916msA7VloGOuV5KsxDBGSoqxgYweHrZxak3CXAHFkTJtET96EJf9VXq4Ar4hSHMkRbip8Wi9BhMVgH2roQpbJcZGIlbMVEN9O-yIpciw68lVc6986MsBGW-tn8yoaiFpNM=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/c596fffb-4252-42cf-7f12-7d52afb5ab03.png" width="264" style="max-width:300px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_8058223236610470311mcnImage CToWUd" data-bit="iit">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td valign="top" style="padding:9px">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse;float:left">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=74a5267e0f&amp;e=9032397acf" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3D74a5267e0f%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420010000&amp;usg=AOvVaw1xFlIvz89vjVNPPtz6SQQn">
                                                                <img align="center" alt="" src="https://ci3.googleusercontent.com/meips/ADKq_NYxkD-jZRHdzs1F2O8buLU755UfqyoeXtpwOkmTUBw__1nX2R5kFHNl1t6StuYor1wP57dQnlKhUtgy6j9KxuDAdp2LxBDLgCXtdf2nSqwjX2_o3Di5Ee5S874TMiB-6lA9K6JYo2sZWtaq6srqKKRQnqLDuYFCQWc=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/af9a8882-1e08-6a74-06e2-7bdffdedda83.png" width="156" style="max-width:312px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_8058223236610470311mcnRetinaImage CToWUd" data-bit="iit">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td valign="top" style="padding:0px">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse;float:left">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">
                                                            <img align="center" alt="" src="https://ci3.googleusercontent.com/meips/ADKq_NazTQMuNo60ziRRdVypO8-J2swPbcqQdThjrzYXN8XdxLeqrReWz8dcAib2heIwkYX0hVQu9WwA4D_DiR89oBIt3fShEG7LFa4Yq9m3z3pnRpFBQbWlJvuFU5-o8uyd1nT06A2OrcjIE-d4Os3-KicNlgKPiHNLX4M=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/d498da2c-d1e0-0551-b1f7-f21ff0737da6.jpg" width="600" style="max-width:600px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_8058223236610470311mcnImage CToWUd a6T" data-bit="iit" tabindex="0">
                                                            <div class="a6S" dir="ltr" style="opacity: 0.01; left: 570px; top: 1526.47px;">
                                        <span data-is-tooltip-wrapper="true" class="a5q" jsaction="JIbuQc:.CLIENT">
                                          <button class="VYBDae-JX-I VYBDae-JX-I-ql-ay5-ays CgzRE" jscontroller="PIVayb" jsaction="click:h5M12e; clickmod:h5M12e;pointerdown:FEiYhc;pointerup:mF5Elf;pointerenter:EX0mI;pointerleave:vpvbp;pointercancel:xyn4sd;contextmenu:xexox;focus:h06R8; blur:zjh6rb;mlnRJb:fLiPzd;" data-idom-class="CgzRE" jsname="hRZeKc" aria-label="Descargar el archivo adjunto " data-tooltip-enabled="true" data-tooltip-id="tt-c132" data-tooltip-classes="AZPksf" id="" jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTgwMTg0MTgzMTY5OTA2NTA2OSJd; 43:WyJpbWFnZS9qcGVnIl0.">
                                            <span class="OiePBf-zPjgPe VYBDae-JX-UHGRz"></span>
                                            <span class="bHC-Q" data-unbounded="false" jscontroller="LBaJxb" jsname="m9ZlFb" soy-skip="" ssk="6:RWVI5c"></span>
                                            <span class="VYBDae-JX-ank-Rtc0Jf" jsname="S5tZuc" aria-hidden="true">
                                              <span class="bzc-ank" aria-hidden="true">
                                                <svg viewBox="0 -960 960 960" height="20" width="20" focusable="false" class=" aoH">
                                                  <path d="M480-336L288-528l51-51L444-474V-816h72v342L621-579l51,51L480-336ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72H696v-72h72v72q0,29.7-21.16,50.85T695.96-192H263.72Z"></path>
                                                </svg>
                                              </span>
                                            </span>
                                            <div class="VYBDae-JX-ano"></div>
                                          </button>
                                          <div class="ne2Ple-oshW8e-J9" id="tt-c132" role="tooltip" aria-hidden="true">Descargar</div>
                                        </span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                        <tr>
                                            <td valign="top">
                                                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" height="275" style="margin:auto;background-color:#000000;border-collapse:collapse">
                                                    <tbody>
                                                    <tr>
                                                        <td style="background-color:#f2f2f2">
                                                            <table align="center" cellspacing="0" cellpadding="0" border="0" style="margin:30px;padding-top:10px;border-collapse:collapse">
                                                                <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div style="text-align:left;margin-top:10px;padding:0 10px 25px 0">
                                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=74323ca4a0&amp;e=9032397acf" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3D74323ca4a0%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420010000&amp;usg=AOvVaw2Y1G7bOdegJ_6YVXSel4Gy">
                                                                                <img src="https://ci3.googleusercontent.com/meips/ADKq_NZ2eppoZbguRVhImWpgnRzpeZlDKyZlphLlyMQuFko37dJRI9p5lp5DwkdZ2n27wd_OEjIfgpmI9JVJJbXe5ia44k9jTWJy_AWiC31nxVkMJIjzphAZ5MxdCUIrH52mMguWjuY2qhInu9pXxWmobgKY2THy13hPhqU=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/90442518-93a5-111d-0456-371313b63e5b.png" alt="" style="border:0;height:auto;outline:none;text-decoration:none" class="CToWUd" data-bit="iit">
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table align="center" cellspacing="0" cellpadding="0" border="0" style="margin:30px;border-collapse:collapse">
                                                                <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div style="text-align:left;margin-top:0px">
                                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=9c75d7b2f7&amp;e=9032397acf" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3D9c75d7b2f7%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420010000&amp;usg=AOvVaw2YYdjnPD_yDc2AGuo-mtra">
                                                                                <img src="https://ci3.googleusercontent.com/meips/ADKq_Naquh_rqVUbvcJzQmEEikhUfM-lkQFWvCarZH_Sxh9X8xsD1oRe0epI6o7v9lyIffkFvIYoBl3IEOkz0QSgpd9_wlK89srNzipd-S70k4QSo5E2xWZJHHxXV2_Mts5-RAvwkPNyv2PbeWEAn4j46GW2OaxWI6p_Mgs=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/e94d8b48-0b38-f8e7-07d5-9d6c383d86e0.png" alt="" style="display:inline-block;padding:0 4px;border:0;height:auto;outline:none;text-decoration:none" class="CToWUd" data-bit="iit">
                                                                            </a>
                                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=fa041b94c9&amp;e=9032397acf" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3Dfa041b94c9%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420010000&amp;usg=AOvVaw1X5JV1lZB7RwET4XhDZF6y">
                                                                                <img src="https://ci3.googleusercontent.com/meips/ADKq_NZ5dw8dEpA4kSwjNAeOA1rV3hNO4hARpq1IA2UxklRF4Gu-_qC3rB7kok7MhABrxqDxKglF3xWQ6bJ29hDYLcHtCD0hxt0rnoH4qagAsTnySDFmZPgsYZqO9kbQU6SzL7ibrnB51iUjP0NF8VI3lwNYMl38GZj4MYo=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/4f355096-11ca-ac0b-e654-a8361b8ffc9f.png" alt="" style="display:inline-block;padding:0 4px;border:0;height:auto;outline:none;text-decoration:none" class="CToWUd" data-bit="iit">
                                                                            </a>
                                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=5f10a9e2a3&amp;e=9032397acf" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3D5f10a9e2a3%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420010000&amp;usg=AOvVaw0lJub6QTLg0KAEAA0ohuYY">
                                                                                <img src="https://ci3.googleusercontent.com/meips/ADKq_NaKeai7Wu1CWnx5ebtJSjtB--zZknhmmJ0zRcDVjyAA3gEUzP5WgFobo4hSNLIy4o2tyq0B8iqLwTltIqd0aHjhIi0OqwifTDG96rqdoHCa4sZexP7icpCbko--GFjKY_cvr4D1t3ORpSLKQiHiH16HyONWSfmv_dU=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/d9ee40e2-c706-7161-4f01-98c8f9ea0908.png" alt="" style="display:inline-block;padding:0 4px;border:0;height:auto;outline:none;text-decoration:none" class="CToWUd" data-bit="iit">
                                                                            </a>
                                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=2384bd20d3&amp;e=9032397acf" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3D2384bd20d3%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420010000&amp;usg=AOvVaw3wscPoMBpqYi6ugtzxaGaa">
                                                                                <img src="https://ci3.googleusercontent.com/meips/ADKq_NbOgkACqBdXssfVHKxPbOnIkwCAtJsIShIS_gCbLht2QOSxsySKx82sqzt53MxmqkqUPfiGvidqHfHgeGHJaRLJbqSnWCQZzzOru_I9p1VSXPa9mgfCJLoPMtJIc5unvar82CiuTw_GxFABTaN8UpKebRBqfhHbINc=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/be20c5e4-67be-f870-17b1-b8966caad79f.png" alt="" style="display:inline-block;padding:0 4px;border:0;height:auto;outline:none;text-decoration:none" class="CToWUd" data-bit="iit">
                                                                            </a>
                                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=e1cbefad22&amp;e=9032397acf" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3De1cbefad22%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420011000&amp;usg=AOvVaw2BowWoVRZiZZu9-OV-ttjW">
                                                                                <img src="https://ci3.googleusercontent.com/meips/ADKq_Nb_8t27b4vA-K1qR9MgnI3LCuD1uuhvUbnQbAHEHDrtIm_N1iBXv4gS5vJT8425dOMRZbAKKjIHoG2imRcsHLfymEF3b8WaBNfJBNJEZm8YWZXF8_YLXiz6eiByBUhq0fA1mWPYYja3cnD8g003vO0M5tEJjcx2oig=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/8c6f7fcc-306c-b21b-74d8-cfb7652121e7.png" alt="" style="display:inline-block;padding:0 4px;border:0;height:auto;outline:none;text-decoration:none" class="CToWUd" data-bit="iit">
                                                                            </a>
                                                                            <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=c3be627630&amp;e=9032397acf" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3Dc3be627630%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420011000&amp;usg=AOvVaw3IDq0Csd59egYx_4LAslWa">
                                                                                <img src="https://ci3.googleusercontent.com/meips/ADKq_NbCDdAK1F8rr-FSUcQWmvsfI8rjVFxbuObelrpXrEja19r2WS59J0WzAJpKBpt1u0-SEoG9IgFZ8dwbkgUnu_9114slOCdt9GXkyBiLaLFLdAbm7iAObbUqbvDwQzYiXYJujZphOKYgC8KAde_ub_RsiKnRcaAM6_Q=s0-d-e1-ft#https://mcusercontent.com/bfe750d0294f48db097d16daa/images/42d40f6b-cdc5-bf4b-6d63-0cb573335622.png" alt="" style="display:inline-block;padding:0 4px 1px 4px;border:0;height:auto;outline:none;text-decoration:none" class="CToWUd" data-bit="iit">
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <p style="font-family:sans-serif;color:#000000;font-size:12px;text-align:left;margin:50px 0 0 0;padding:0"> Recibes este correo porque te suscribiste a Coderhouse. <a href="https://coderhouse.us20.list-manage.com/unsubscribe?u=bfe750d0294f48db097d16daa&amp;id=9aa239ce24&amp;t=b&amp;e=9032397acf&amp;c=4abd870dde" style="color:#000000" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/unsubscribe?u%3Dbfe750d0294f48db097d16daa%26id%3D9aa239ce24%26t%3Db%26e%3D9032397acf%26c%3D4abd870dde&amp;source=gmail&amp;ust=1718752420011000&amp;usg=AOvVaw3mSZzcgtbe-zbegGb5jIUe">¿Deseas desuscribirte?</a>
                                                                        </p>
                                                                        <p style="font-family:sans-serif;color:#000000;font-size:12px;text-align:left;margin:10px 0 30px 0;padding:0"> © 2024 Coderhouse, todos los derechos reservados. <a href="https://coderhouse.us20.list-manage.com/track/click?u=bfe750d0294f48db097d16daa&amp;id=fd9b2e1f07&amp;e=9032397acf" style="color:#000000" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://coderhouse.us20.list-manage.com/track/click?u%3Dbfe750d0294f48db097d16daa%26id%3Dfd9b2e1f07%26e%3D9032397acf&amp;source=gmail&amp;ust=1718752420011000&amp;usg=AOvVaw3elXi9rlpKiYrsM6RBsgnR">Ver términos y condiciones</a>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_8058223236610470311templateFooter" style="background:#transparent none no-repeat center/cover;background-color:#transparent;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:0px"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </center>
        <img src="https://ci3.googleusercontent.com/meips/ADKq_NZb510QDWNtIfQpKViRNKPUdB7esFGLcuhZerTejWvxRzLfTojzNCrASqY13sq4afbV1lUx5Yp3Sz3JkmpGZR6iCCm0RsRv6QvxS7dp5BANjMYoj5obBe_xLo32uouywedWCAXtHG--_ZYsDbKIcc_XsCly4uWG_36aBaQPCQeMBF2G=s0-d-e1-ft#https://coderhouse.us20.list-manage.com/track/open.php?u=bfe750d0294f48db097d16daa&amp;id=4abd870dde&amp;e=9032397acf" height="1" width="1" alt="" class="CToWUd" data-bit="iit">
    </div>
    <div class="yj6qo"></div>
    <div class="adL"></div>
</div>